@page
@model SecureStoreService.Pages.Maintenance.MainModel
@{
    ViewData["Title"] = "main";
}


    <div class="card">
        <div class="card-header">Application: Secure Store </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col col-3">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active rounded-0" id="list-create-list" data-toggle="list" href="#list-create" role="tab" aria-controls="create">Create Entry</a>
                            <a class="list-group-item list-group-item-action rounded-0" id="list-delete-list" data-toggle="list" href="#list-delete" role="tab" aria-controls="delete">Delete Entry</a>
                            <a class="list-group-item list-group-item-action rounded-0" id="list-edit-list" data-toggle="list" href="#list-edit" role="tab" aria-controls="edit">Edit Entry</a>
                            <a class="list-group-item list-group-item-action rounded-0" id="list-retrieve-list" data-toggle="list" href="#list-retrieve" role="tab" aria-controls="retrieve">Retrieve Entry</a>
                        </div>
                    </div>
                    <div class="col col-9">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-create" role="tabpanel" aria-labelledby="list-create-list">
                                <h6 class="h6">Select Entry Tab</h6>

                                <ul class="nav nav-tabs" id="CreateEntryTypeTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="create-credentials-entry-tab" data-toggle="tab" href="#create-credentials-entry" role="tab" aria-controls="create-credentials-entry" aria-selected="true">Credentials</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="create-connectionstring-entry-tab" data-toggle="tab" href="#create-connectionstring-entry" role="tab" aria-controls="create-connectionstring-entry" aria-selected="false">Connection String</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="create-token-entry-tab" data-toggle="tab" href="#create-token-entry" role="tab" aria-controls="create-token-entry" aria-selected="false">Token</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="create-variable-entry-tab" data-toggle="tab" href="#create-variable-entry" role="tab" aria-controls="create-variable-entry" aria-selected="false">Variable</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="CreateEntryTypeTabContent">
                                    <div class="tab-pane fade show active" id="create-credentials-entry" role="tabpanel" aria-labelledby="create-credentials-entry-tab">
                                        <form method="post" id="create-credential-form">
                                            <div class="row">
                                                <div class="col-5">
                                                    <label for="StoreUsername">Store Username:</label>
                                                    <input required type="text" class="form-control" id="StoreUsernameInput" aria-describedby="StoreUsernameDesc" placeholder="Enter Store Username">
                                                    <small id="StoreUsernameDesc" class="form-text text-muted">This is the username associated with your API Access Key</small>
                                                </div>
                                                <div class="col-7">
                                                    <label for="AccessKey">Access Key:</label>
                                                    <input required type="text" class="form-control" id="AccessKeyInput" aria-describedby="AccessKeyDesc" placeholder="Enter Access Key">
                                                    <small id="AccessKeyDesc" class="form-text text-muted">This is the key used to access the APIs</small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label for="EntryName">Entry Name:</label>
                                                        <input required type="text" class="form-control" id="EntryNameInput" aria-describedby="EntryNameDesc" placeholder="Entry Name">

                                                        <label for="EntryUse">Entry Use:</label>
                                                        <input required type="text" class="form-control" id="EntryUseInput" aria-describedby="EntryUseDesc" placeholder="Description">

                                                        <label for="EntryUsername">Username:</label>
                                                        <input required type="text" class="form-control" id="EntryUsernameInput" aria-describedby="EntryUsernameDesc" placeholder="Username">

                                                        <label for="EntryPassword">Password:</label>
                                                        <input required type="password" class="form-control" id="EntryPasswordInput" aria-describedby="EntryPasswordDesc" placeholder="Password">

                                                        <label for="EntryStartDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryStartDateInput" aria-describedby="EntryStartDateDesc" placeholder="MM/DD/YYYY (Optional)">

                                                        <label for="EntryEndDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryUsnernameInput" aria-describedby="EntryUsernameDesc" placeholder="MM/DD/YYYY (Optional)">
                                                    </div>
                                                </div> 
                                            </div>
                                            <button type="submit" class="btn btn-primary">Create Entry</button>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="create-connectionstring-entry" role="tabpanel" aria-labelledby="create-connectionstring-entry-tab">
                                        <form method="post" id="create-connectionstring-form">
                                            <div class="row">
                                                <div class="col-5">
                                                    <label for="StoreUsername">Store Username:</label>
                                                    <input required type="text" class="form-control" id="StoreUsernameInput" aria-describedby="StoreUsernameDesc" placeholder="Enter Store Username">
                                                    <small id="StoreUsernameDesc" class="form-text text-muted">This is the username associated with your API Access Key</small>
                                                </div>
                                                <div class="col-7">
                                                    <label for="AccessKey">Access Key:</label>
                                                    <input required type="text" class="form-control" id="AccessKeyInput" aria-describedby="AccessKeyDesc" placeholder="Enter Access Key">
                                                    <small id="AccessKeyDesc" class="form-text text-muted">This is the key used to access the APIs</small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label for="EntryName">Entry Name:</label>
                                                        <input required type="text" class="form-control" id="EntryNameInput" aria-describedby="EntryNameDesc" placeholder="Entry Name">

                                                        <label for="EntryUse">Entry Use:</label>
                                                        <input required type="text" class="form-control" id="EntryUseInput" aria-describedby="EntryUseDesc" placeholder="Description">

                                                        <label for="EntryConnectionString">Connection String:</label>
                                                        <input required type="text" class="form-control" id="EntryUsnernameInput" aria-describedby="EntryUsernameDesc" placeholder="Username">

                                                        <label for="EntryStartDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryStartDateInput" aria-describedby="EntryStartDateDesc" placeholder="MM/DD/YYYY (Optional)">

                                                        <label for="EntryEndDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryUsnernameInput" aria-describedby="EntryUsernameDesc" placeholder="MM/DD/YYYY (Optional)">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Create Entry</button>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="create-token-entry" role="tabpanel" aria-labelledby="create-token-entry-tab">
                                        <form method="post" id="create-connectionstring-form">
                                            <div class="row">
                                                <div class="col-5">
                                                    <label for="StoreUsername">Store Username:</label>
                                                    <input required type="text" class="form-control" id="StoreUsernameInput" aria-describedby="StoreUsernameDesc" placeholder="Enter Store Username">
                                                    <small id="StoreUsernameDesc" class="form-text text-muted">This is the username associated with your API Access Key</small>
                                                </div>
                                                <div class="col-7">
                                                    <label for="AccessKey">Access Key:</label>
                                                    <input required type="text" class="form-control" id="AccessKeyInput" aria-describedby="AccessKeyDesc" placeholder="Enter Access Key">
                                                    <small id="AccessKeyDesc" class="form-text text-muted">This is the key used to access the APIs</small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label for="EntryName">Entry Name:</label>
                                                        <input required type="text" class="form-control" id="EntryNameInput" aria-describedby="EntryNameDesc" placeholder="Entry Name">

                                                        <label for="EntryUse">Entry Use:</label>
                                                        <input required type="text" class="form-control" id="EntryUseInput" aria-describedby="EntryUseDesc" placeholder="Description">

                                                        <label for="EntryConnectionString">Connection String:</label>
                                                        <input required type="text" class="form-control" id="EntryUsnernameInput" aria-describedby="EntryUsernameDesc" placeholder="Username">

                                                        <label for="EntryStartDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryStartDateInput" aria-describedby="EntryStartDateDesc" placeholder="MM/DD/YYYY (Optional)">

                                                        <label for="EntryEndDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryUsnernameInput" aria-describedby="EntryUsernameDesc" placeholder="MM/DD/YYYY (Optional)">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Create Entry</button>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="create-variable-entry" role="tabpanel" aria-labelledby="create-variable-entry-tab">
                                        <form method="post" id="create-connectionstring-form">
                                            <div class="row">
                                                <div class="col-5">
                                                    <label for="StoreUsername">Store Username:</label>
                                                    <input required type="text" class="form-control" id="StoreUsernameInput" aria-describedby="StoreUsernameDesc" placeholder="Enter Store Username">
                                                    <small id="StoreUsernameDesc" class="form-text text-muted">This is the username associated with your API Access Key</small>
                                                </div>
                                                <div class="col-7">
                                                    <label for="AccessKey">Access Key:</label>
                                                    <input required type="text" class="form-control" id="AccessKeyInput" aria-describedby="AccessKeyDesc" placeholder="Enter Access Key">
                                                    <small id="AccessKeyDesc" class="form-text text-muted">This is the key used to access the APIs</small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label for="EntryName">Entry Name:</label>
                                                        <input required type="text" class="form-control" id="EntryNameInput" aria-describedby="EntryNameDesc" placeholder="Entry Name">

                                                        <label for="EntryUse">Entry Use:</label>
                                                        <input required type="text" class="form-control" id="EntryUseInput" aria-describedby="EntryUseDesc" placeholder="Description">

                                                        <label for="EntryConnectionString">Connection String:</label>
                                                        <input required type="text" class="form-control" id="EntryUsnernameInput" aria-describedby="EntryUsernameDesc" placeholder="Username">

                                                        <label for="EntryStartDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryStartDateInput" aria-describedby="EntryStartDateDesc" placeholder="MM/DD/YYYY (Optional)">

                                                        <label for="EntryEndDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryUsnernameInput" aria-describedby="EntryUsernameDesc" placeholder="MM/DD/YYYY (Optional)">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Create Entry</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-delete" role="tabpanel" aria-labelledby="list-delete-list">
                                <h6 class="h6">Select Entry Tab</h6>

                                <ul class="nav nav-tabs" id="DeleteEntryTypeTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="delete-credentials-entry-tab" data-toggle="tab" href="#delete-credentials-entry" role="tab" aria-controls="delete-credentials-entry" aria-selected="true">Credentials</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="delete-connectionstring-entry-tab" data-toggle="tab" href="#delete-connectionstring-entry" role="tab" aria-controls="delete-connectionstring-entry" aria-selected="false">Connection String</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="delete-token-entry-tab" data-toggle="tab" href="#delete-token-entry" role="tab" aria-controls="delete-token-entry" aria-selected="false">Token</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="delete-variable-entry-tab" data-toggle="tab" href="#delete-variable-entry" role="tab" aria-controls="delete-variable-entry" aria-selected="false">Variable</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="deleteEntryTypeTabContent">
                                    <div class="tab-pane fade show active" id="delete-credentials-entry" role="tabpanel" aria-labelledby="delete-credentials-entry-tab">
                                        <form method="post" id="delete-credential-form">
                                            <div class="row">
                                                <div class="col-5">
                                                    <label for="StoreUsername">Store Username:</label>
                                                    <input required type="text" class="form-control" id="store-username-input" aria-describedby="store-username-desc" placeholder="Store Username">
                                                    <small id="store-username-desc" class="form-text text-muted">This is the username associated with your API Access Key</small>
                                                </div>
                                                <div class="col-7">
                                                    <label for="AccessKey">Access Key:</label>
                                                    <input required type="text" class="form-control" id="AccessKeyInput" aria-describedby="AccessKeyDesc" placeholder="Enter Access Key">
                                                    <small id="AccessKeyDesc" class="form-text text-muted">This is the key used to access the APIs</small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label for="EntryKey">Entry Key:</label>
                                                        <input required type="text" class="form-control" id="entry-key-input" aria-describedby="entry-key-dec" placeholder="Entry Key">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Delete Entry</button>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="delete-connectionstring-entry" role="tabpanel" aria-labelledby="delete-connectionstring-entry-tab">
                                        <form method="post" id="delete-connectionstring-form">
                                            <div class="row">
                                                <div class="col-5">
                                                    <label for="StoreUsername">Store Username:</label>
                                                    <input required type="text" class="form-control" id="store-username-input" aria-describedby="store-username-desc" placeholder="Store Username">
                                                    <small id="store-username-desc" class="form-text text-muted">This is the username associated with your API Access Key</small>
                                                </div>
                                                <div class="col-7">
                                                    <label for="AccessKey">Access Key:</label>
                                                    <input required type="text" class="form-control" id="AccessKeyInput" aria-describedby="AccessKeyDesc" placeholder="Enter Access Key">
                                                    <small id="AccessKeyDesc" class="form-text text-muted">This is the key used to access the APIs</small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label for="EntryKey">Entry Key:</label>
                                                        <input required type="text" class="form-control" id="entry-key-input" aria-describedby="entry-key-dec" placeholder="Entry Key">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Delete Entry</button>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="delete-token-entry" role="tabpanel" aria-labelledby="delete-token-entry-tab">
                                        <form method="post" id="delete-connectionstring-form">
                                            <div class="row">
                                                <div class="col-5">
                                                    <label for="StoreUsername">Store Username:</label>
                                                    <input required type="text" class="form-control" id="store-username-input" aria-describedby="store-username-desc" placeholder="Store Username">
                                                    <small id="store-username-desc" class="form-text text-muted">This is the username associated with your API Access Key</small>
                                                </div>
                                                <div class="col-7">
                                                    <label for="AccessKey">Access Key:</label>
                                                    <input required type="text" class="form-control" id="AccessKeyInput" aria-describedby="AccessKeyDesc" placeholder="Enter Access Key">
                                                    <small id="AccessKeyDesc" class="form-text text-muted">This is the key used to access the APIs</small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label for="EntryKey">Entry Key:</label>
                                                        <input required type="text" class="form-control" id="entry-key-input" aria-describedby="entry-key-dec" placeholder="Entry Key">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Delete Entry</button>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="delete-variable-entry" role="tabpanel" aria-labelledby="delete-variable-entry-tab">
                                        <form method="post" id="delete-connectionstring-form">
                                            <div class="row">
                                                <div class="col-5">
                                                    <label for="StoreUsername">Store Username:</label>
                                                    <input required type="text" class="form-control" id="store-username-input" aria-describedby="store-username-desc" placeholder="Store Username">
                                                    <small id="store-username-desc" class="form-text text-muted">This is the username associated with your API Access Key</small>
                                                </div>
                                                <div class="col-7">
                                                    <label for="AccessKey">Access Key:</label>
                                                    <input required type="text" class="form-control" id="AccessKeyInput" aria-describedby="AccessKeyDesc" placeholder="Enter Access Key">
                                                    <small id="AccessKeyDesc" class="form-text text-muted">This is the key used to access the APIs</small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label for="EntryKey">Entry Key:</label>
                                                        <input required type="text" class="form-control" id="entry-key-input" aria-describedby="entry-key-dec" placeholder="Entry Key">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Delete Entry</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-edit" role="tabpanel" aria-labelledby="list-edit-list">
                                <h6 class="h6">Select Entry Tab</h6>

                                <ul class="nav nav-tabs" id="CreateEntryTypeTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="create-credentials-entry-tab" data-toggle="tab" href="#create-credentials-entry" role="tab" aria-controls="create-credentials-entry" aria-selected="true">Credentials</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="create-connectionstring-entry-tab" data-toggle="tab" href="#create-connectionstring-entry" role="tab" aria-controls="create-connectionstring-entry" aria-selected="false">Connection String</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="create-token-entry-tab" data-toggle="tab" href="#create-token-entry" role="tab" aria-controls="create-token-entry" aria-selected="false">Token</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="create-variable-entry-tab" data-toggle="tab" href="#create-variable-entry" role="tab" aria-controls="create-variable-entry" aria-selected="false">Variable</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="CreateEntryTypeTabContent">
                                    <div class="tab-pane fade show active" id="create-credentials-entry" role="tabpanel" aria-labelledby="create-credentials-entry-tab">
                                        <form method="post" id="create-credential-form">
                                            <div class="row">
                                                <div class="col-5">
                                                    <label for="StoreUsername">Store Username:</label>
                                                    <input required type="text" class="form-control" id="StoreUsernameInput" aria-describedby="StoreUsernameDesc" placeholder="Enter Store Username">
                                                    <small id="StoreUsernameDesc" class="form-text text-muted">This is the username associated with your API Access Key</small>
                                                </div>
                                                <div class="col-7">
                                                    <label for="AccessKey">Access Key:</label>
                                                    <input required type="text" class="form-control" id="AccessKeyInput" aria-describedby="AccessKeyDesc" placeholder="Enter Access Key">
                                                    <small id="AccessKeyDesc" class="form-text text-muted">This is the key used to access the APIs</small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label for="EntryName">Entry Name:</label>
                                                        <input required type="text" class="form-control" id="EntryNameInput" aria-describedby="EntryNameDesc" placeholder="Entry Name">

                                                        <label for="EntryUse">Entry Use:</label>
                                                        <input required type="text" class="form-control" id="EntryUseInput" aria-describedby="EntryUseDesc" placeholder="Description">

                                                        <label for="EntryUsername">Username:</label>
                                                        <input required type="text" class="form-control" id="EntryUsernameInput" aria-describedby="EntryUsernameDesc" placeholder="Username">

                                                        <label for="EntryPassword">Password:</label>
                                                        <input required type="password" class="form-control" id="EntryPasswordInput" aria-describedby="EntryPasswordDesc" placeholder="Password">

                                                        <label for="EntryStartDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryStartDateInput" aria-describedby="EntryStartDateDesc" placeholder="MM/DD/YYYY (Optional)">

                                                        <label for="EntryEndDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryUsnernameInput" aria-describedby="EntryUsernameDesc" placeholder="MM/DD/YYYY (Optional)">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Create Entry</button>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="create-connectionstring-entry" role="tabpanel" aria-labelledby="create-connectionstring-entry-tab">
                                        <form method="post" id="create-connectionstring-form">
                                            <div class="row">
                                                <div class="col-5">
                                                    <label for="StoreUsername">Store Username:</label>
                                                    <input required type="text" class="form-control" id="StoreUsernameInput" aria-describedby="StoreUsernameDesc" placeholder="Enter Store Username">
                                                    <small id="StoreUsernameDesc" class="form-text text-muted">This is the username associated with your API Access Key</small>
                                                </div>
                                                <div class="col-7">
                                                    <label for="AccessKey">Access Key:</label>
                                                    <input required type="text" class="form-control" id="AccessKeyInput" aria-describedby="AccessKeyDesc" placeholder="Enter Access Key">
                                                    <small id="AccessKeyDesc" class="form-text text-muted">This is the key used to access the APIs</small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label for="EntryName">Entry Name:</label>
                                                        <input required type="text" class="form-control" id="EntryNameInput" aria-describedby="EntryNameDesc" placeholder="Entry Name">

                                                        <label for="EntryUse">Entry Use:</label>
                                                        <input required type="text" class="form-control" id="EntryUseInput" aria-describedby="EntryUseDesc" placeholder="Description">

                                                        <label for="EntryConnectionString">Connection String:</label>
                                                        <input required type="text" class="form-control" id="EntryUsnernameInput" aria-describedby="EntryUsernameDesc" placeholder="Username">

                                                        <label for="EntryStartDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryStartDateInput" aria-describedby="EntryStartDateDesc" placeholder="MM/DD/YYYY (Optional)">

                                                        <label for="EntryEndDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryUsnernameInput" aria-describedby="EntryUsernameDesc" placeholder="MM/DD/YYYY (Optional)">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Create Entry</button>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="create-token-entry" role="tabpanel" aria-labelledby="create-token-entry-tab">
                                        <form method="post" id="create-connectionstring-form">
                                            <div class="row">
                                                <div class="col-5">
                                                    <label for="StoreUsername">Store Username:</label>
                                                    <input required type="text" class="form-control" id="StoreUsernameInput" aria-describedby="StoreUsernameDesc" placeholder="Enter Store Username">
                                                    <small id="StoreUsernameDesc" class="form-text text-muted">This is the username associated with your API Access Key</small>
                                                </div>
                                                <div class="col-7">
                                                    <label for="AccessKey">Access Key:</label>
                                                    <input required type="text" class="form-control" id="AccessKeyInput" aria-describedby="AccessKeyDesc" placeholder="Enter Access Key">
                                                    <small id="AccessKeyDesc" class="form-text text-muted">This is the key used to access the APIs</small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label for="EntryName">Entry Name:</label>
                                                        <input required type="text" class="form-control" id="EntryNameInput" aria-describedby="EntryNameDesc" placeholder="Entry Name">

                                                        <label for="EntryUse">Entry Use:</label>
                                                        <input required type="text" class="form-control" id="EntryUseInput" aria-describedby="EntryUseDesc" placeholder="Description">

                                                        <label for="EntryConnectionString">Connection String:</label>
                                                        <input required type="text" class="form-control" id="EntryUsnernameInput" aria-describedby="EntryUsernameDesc" placeholder="Username">

                                                        <label for="EntryStartDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryStartDateInput" aria-describedby="EntryStartDateDesc" placeholder="MM/DD/YYYY (Optional)">

                                                        <label for="EntryEndDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryUsnernameInput" aria-describedby="EntryUsernameDesc" placeholder="MM/DD/YYYY (Optional)">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Create Entry</button>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="create-variable-entry" role="tabpanel" aria-labelledby="create-variable-entry-tab">
                                        <form method="post" id="create-connectionstring-form">
                                            <div class="row">
                                                <div class="col-5">
                                                    <label for="StoreUsername">Store Username:</label>
                                                    <input required type="text" class="form-control" id="StoreUsernameInput" aria-describedby="StoreUsernameDesc" placeholder="Enter Store Username">
                                                    <small id="StoreUsernameDesc" class="form-text text-muted">This is the username associated with your API Access Key</small>
                                                </div>
                                                <div class="col-7">
                                                    <label for="AccessKey">Access Key:</label>
                                                    <input required type="text" class="form-control" id="AccessKeyInput" aria-describedby="AccessKeyDesc" placeholder="Enter Access Key">
                                                    <small id="AccessKeyDesc" class="form-text text-muted">This is the key used to access the APIs</small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label for="EntryName">Entry Name:</label>
                                                        <input required type="text" class="form-control" id="EntryNameInput" aria-describedby="EntryNameDesc" placeholder="Entry Name">

                                                        <label for="EntryUse">Entry Use:</label>
                                                        <input required type="text" class="form-control" id="EntryUseInput" aria-describedby="EntryUseDesc" placeholder="Description">

                                                        <label for="EntryConnectionString">Connection String:</label>
                                                        <input required type="text" class="form-control" id="EntryUsnernameInput" aria-describedby="EntryUsernameDesc" placeholder="Username">

                                                        <label for="EntryStartDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryStartDateInput" aria-describedby="EntryStartDateDesc" placeholder="MM/DD/YYYY (Optional)">

                                                        <label for="EntryEndDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryUsnernameInput" aria-describedby="EntryUsernameDesc" placeholder="MM/DD/YYYY (Optional)">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Create Entry</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-retrieve" role="tabpanel" aria-labelledby="list-retrieve-list">
                                <h6 class="h6">Select Entry Tab</h6>

                                <ul class="nav nav-tabs" id="CreateEntryTypeTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="create-credentials-entry-tab" data-toggle="tab" href="#create-credentials-entry" role="tab" aria-controls="create-credentials-entry" aria-selected="true">Credentials</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="create-connectionstring-entry-tab" data-toggle="tab" href="#create-connectionstring-entry" role="tab" aria-controls="create-connectionstring-entry" aria-selected="false">Connection String</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="create-token-entry-tab" data-toggle="tab" href="#create-token-entry" role="tab" aria-controls="create-token-entry" aria-selected="false">Token</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="create-variable-entry-tab" data-toggle="tab" href="#create-variable-entry" role="tab" aria-controls="create-variable-entry" aria-selected="false">Variable</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="CreateEntryTypeTabContent">
                                    <div class="tab-pane fade show active" id="create-credentials-entry" role="tabpanel" aria-labelledby="create-credentials-entry-tab">
                                        <form method="post" id="create-credential-form">
                                            <div class="row">
                                                <div class="col-5">
                                                    <label for="StoreUsername">Store Username:</label>
                                                    <input required type="text" class="form-control" id="StoreUsernameInput" aria-describedby="StoreUsernameDesc" placeholder="Enter Store Username">
                                                    <small id="StoreUsernameDesc" class="form-text text-muted">This is the username associated with your API Access Key</small>
                                                </div>
                                                <div class="col-7">
                                                    <label for="AccessKey">Access Key:</label>
                                                    <input required type="text" class="form-control" id="AccessKeyInput" aria-describedby="AccessKeyDesc" placeholder="Enter Access Key">
                                                    <small id="AccessKeyDesc" class="form-text text-muted">This is the key used to access the APIs</small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label for="EntryName">Entry Name:</label>
                                                        <input required type="text" class="form-control" id="EntryNameInput" aria-describedby="EntryNameDesc" placeholder="Entry Name">

                                                        <label for="EntryUse">Entry Use:</label>
                                                        <input required type="text" class="form-control" id="EntryUseInput" aria-describedby="EntryUseDesc" placeholder="Description">

                                                        <label for="EntryUsername">Username:</label>
                                                        <input required type="text" class="form-control" id="EntryUsernameInput" aria-describedby="EntryUsernameDesc" placeholder="Username">

                                                        <label for="EntryPassword">Password:</label>
                                                        <input required type="password" class="form-control" id="EntryPasswordInput" aria-describedby="EntryPasswordDesc" placeholder="Password">

                                                        <label for="EntryStartDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryStartDateInput" aria-describedby="EntryStartDateDesc" placeholder="MM/DD/YYYY (Optional)">

                                                        <label for="EntryEndDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryUsnernameInput" aria-describedby="EntryUsernameDesc" placeholder="MM/DD/YYYY (Optional)">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Create Entry</button>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="create-connectionstring-entry" role="tabpanel" aria-labelledby="create-connectionstring-entry-tab">
                                        <form method="post" id="create-connectionstring-form">
                                            <div class="row">
                                                <div class="col-5">
                                                    <label for="StoreUsername">Store Username:</label>
                                                    <input required type="text" class="form-control" id="StoreUsernameInput" aria-describedby="StoreUsernameDesc" placeholder="Enter Store Username">
                                                    <small id="StoreUsernameDesc" class="form-text text-muted">This is the username associated with your API Access Key</small>
                                                </div>
                                                <div class="col-7">
                                                    <label for="AccessKey">Access Key:</label>
                                                    <input required type="text" class="form-control" id="AccessKeyInput" aria-describedby="AccessKeyDesc" placeholder="Enter Access Key">
                                                    <small id="AccessKeyDesc" class="form-text text-muted">This is the key used to access the APIs</small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label for="EntryName">Entry Name:</label>
                                                        <input required type="text" class="form-control" id="EntryNameInput" aria-describedby="EntryNameDesc" placeholder="Entry Name">

                                                        <label for="EntryUse">Entry Use:</label>
                                                        <input required type="text" class="form-control" id="EntryUseInput" aria-describedby="EntryUseDesc" placeholder="Description">

                                                        <label for="EntryConnectionString">Connection String:</label>
                                                        <input required type="text" class="form-control" id="EntryUsnernameInput" aria-describedby="EntryUsernameDesc" placeholder="Username">

                                                        <label for="EntryStartDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryStartDateInput" aria-describedby="EntryStartDateDesc" placeholder="MM/DD/YYYY (Optional)">

                                                        <label for="EntryEndDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryUsnernameInput" aria-describedby="EntryUsernameDesc" placeholder="MM/DD/YYYY (Optional)">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Create Entry</button>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="create-token-entry" role="tabpanel" aria-labelledby="create-token-entry-tab">
                                        <form method="post" id="create-connectionstring-form">
                                            <div class="row">
                                                <div class="col-5">
                                                    <label for="StoreUsername">Store Username:</label>
                                                    <input required type="text" class="form-control" id="StoreUsernameInput" aria-describedby="StoreUsernameDesc" placeholder="Enter Store Username">
                                                    <small id="StoreUsernameDesc" class="form-text text-muted">This is the username associated with your API Access Key</small>
                                                </div>
                                                <div class="col-7">
                                                    <label for="AccessKey">Access Key:</label>
                                                    <input required type="text" class="form-control" id="AccessKeyInput" aria-describedby="AccessKeyDesc" placeholder="Enter Access Key">
                                                    <small id="AccessKeyDesc" class="form-text text-muted">This is the key used to access the APIs</small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label for="EntryName">Entry Name:</label>
                                                        <input required type="text" class="form-control" id="EntryNameInput" aria-describedby="EntryNameDesc" placeholder="Entry Name">

                                                        <label for="EntryUse">Entry Use:</label>
                                                        <input required type="text" class="form-control" id="EntryUseInput" aria-describedby="EntryUseDesc" placeholder="Description">

                                                        <label for="EntryConnectionString">Connection String:</label>
                                                        <input required type="text" class="form-control" id="EntryUsnernameInput" aria-describedby="EntryUsernameDesc" placeholder="Username">

                                                        <label for="EntryStartDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryStartDateInput" aria-describedby="EntryStartDateDesc" placeholder="MM/DD/YYYY (Optional)">

                                                        <label for="EntryEndDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryUsnernameInput" aria-describedby="EntryUsernameDesc" placeholder="MM/DD/YYYY (Optional)">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Create Entry</button>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="create-variable-entry" role="tabpanel" aria-labelledby="create-variable-entry-tab">
                                        <form method="post" id="create-connectionstring-form">
                                            <div class="row">
                                                <div class="col-5">
                                                    <label for="StoreUsername">Store Username:</label>
                                                    <input required type="text" class="form-control" id="StoreUsernameInput" aria-describedby="StoreUsernameDesc" placeholder="Enter Store Username">
                                                    <small id="StoreUsernameDesc" class="form-text text-muted">This is the username associated with your API Access Key</small>
                                                </div>
                                                <div class="col-7">
                                                    <label for="AccessKey">Access Key:</label>
                                                    <input required type="text" class="form-control" id="AccessKeyInput" aria-describedby="AccessKeyDesc" placeholder="Enter Access Key">
                                                    <small id="AccessKeyDesc" class="form-text text-muted">This is the key used to access the APIs</small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label for="EntryName">Entry Name:</label>
                                                        <input required type="text" class="form-control" id="EntryNameInput" aria-describedby="EntryNameDesc" placeholder="Entry Name">

                                                        <label for="EntryUse">Entry Use:</label>
                                                        <input required type="text" class="form-control" id="EntryUseInput" aria-describedby="EntryUseDesc" placeholder="Description">

                                                        <label for="EntryConnectionString">Connection String:</label>
                                                        <input required type="text" class="form-control" id="EntryUsnernameInput" aria-describedby="EntryUsernameDesc" placeholder="Username">

                                                        <label for="EntryStartDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryStartDateInput" aria-describedby="EntryStartDateDesc" placeholder="MM/DD/YYYY (Optional)">

                                                        <label for="EntryEndDate">Effective Start Date:</label>
                                                        <input type="datetime" class="form-control" id="EntryUsnernameInput" aria-describedby="EntryUsernameDesc" placeholder="MM/DD/YYYY (Optional)">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Create Entry</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>


